<%- include('./partials/header1'); -%>
	<main>
		<div class="post-container">
			<div class="markdown-body">
				<%- contenido %>
			</div>
		</div>
	</main>
	<script src="/highlight/highlight.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
	<script>
	  function addDarkmodeWidget() {
	    new Darkmode().showWidget();
	  }
	  window.addEventListener('load', addDarkmodeWidget);
	</script>
	<script>hljs.highlightAll();</script>
</body>
</html>