<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Creando publicacion </title>
	<link rel="stylesheet" href="/css/mdeditor.css">
	<link rel="stylesheet" href="/css/github-markdown.css">
	<link rel="stylesheet" href="/highlight/styles/a11y-dark.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<main>
		<section class="editor-container">
			<div class="blur-box"></div>
			<form action="/admin/make-post" method="post">
				<div class="editor">
					<div class="card_container">
						<div class="form-controll">
							<div class="cerrar">X</div>
							<input type="text" name="titulo" placeholder="Titulo del post" require>
							<input type="text" name="imagen" placeholder="Imagen del post" require>
							<button type="submit">Enviar</button>
						</div>
						<textarea name="editor" id="editor"></textarea>
					</div>
					<div class="markdownparsed markdown-body"></div>
				</div>
			</form>
		</section>
		<script src="/js/marked.js"></script>
		<script src="/highlight/highlight.min.js"></script>
		<script src="/js/main.js"></script>
	</main>
</body>
</html>

