<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/mdeditor.css">
</head>
<body>
	<header>
		<nav>
			<div class="logo">Pildoras para la salvación</div>
			<div class="links">
				<a href="/">Inicio</a>
				<a href="/nosotros">Sobre Nosotros</a>
				<a href="/publica">Publica tu reflexion</a>
			</div>
		</nav>
	</header>
	<main>
		<div class="post_links">
			<% data.forEach( ({title, slug, img}) => {  %>
				<a href="/posts/<%= slug %>">
					<img src="<%= img %>" alt="<%= title %>">
					<h3><%= title %></h3>
				</a>
			<% } ) %>
		</div>
	</main>
	<script src="/reload/reload.js"></script>
</body>
</html>

