* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root{
	--primario:  #1976D2;
}

header, nav {
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
}

nav a{
	padding: 18px 10px;
	text-decoration: none;
	color: black;
}

nav a:hover {
	background: var(--primario) ;
	color:  white;
}

nav .logo {
	font-weight: bold;
	font-size: 20px;
}

.post_links {
	overflow: hidden;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
	padding: 1rem;
}

.post_links img {
	width: 100%;
}