:root{
	--primario:  #1976D2;
}
.editor-container {
	width: 100%;
}

.blur-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.blur-box.blur-activo{
	display: none;
}

.editor-container form .editor{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card_container, .markdownparsed {
	width: 50%;
	height: 100vh;
	padding: 20px;
	overflow: auto;
}

.card_container {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.card_container #editor {
	width: 100%;
	height: 100%;
	padding: 20px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
	font-size: 15px;
}

.card_container #editor:focus {
	border: 1px solid #2eb7ed;
} 

.form-controll{
	background: var(--primario);
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	z-index: 30;
}

.form-controll.form-controll-hide{
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 5px;
	z-index: 30;
}
.form-controll input[type="text"], .form-controll button {
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	outline: none;
}