<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= metadata.title %></title>
	<link rel="stylesheet" type="text/css" href="/css/github-markdown.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" href="/highlight/styles/a11y-dark.min.css">
</head>
<body>
	<header>
		<nav>
			<div class="logo">Pildoras para la salvación</div>
			<div class="links">
				<a href="/">Inicio</a>
				<a href="/nosotros">Sobre Nosotros</a>
				<a href="/publica">Publica tu reflexion</a>
			</div>
		</nav>
	</header>